<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.serviceModel>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <basicHttpBinding>
        <binding name="basicBindingConfiguration" 
                 closeTimeout="00:01:00" sendTimeout="00:01:00" receiveTimeout="00:01:00"
                 maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">

          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>

        </binding>
      </basicHttpBinding>
    </bindings>

    <services>
      <service name="OrgService.OrgService" behaviorConfiguration="serviceBehavior">

        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicBindingConfiguration" 
                  contract="OrgServiceDataContract.IOrgServiceDataContract"/>
        
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:20970/OrgService.svc"/>
          </baseAddresses>
        </host>
      </service>
    </services>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
