<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="orgServiceAddress" value="https://localhost:20970/OrganizationService.svc" />
    <add key="maxBufferSize" value="2147483647" />
    <add key="timeoutSeconds" value="60" />
  </appSettings>
</configuration>